
body {
  font-family:  Helvetica, Arial, Sans-Serif;
  text-align: center;
  color: white;
  font-size: 28px;
}

.square-button {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 1em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #424242;
    transition: .4s;
    font-size: 19px;
    outline-color: #424242;
    outline-style: solid;
}

.square-button>span{
    border-bottom: solid 2px #FFF;
    border-top: solid 2px #FFF;
}

.square-button:hover span {
    padding: 0.1em 0;
}

.advice {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 1em 0.5em;
    text-decoration: none;
    color: #424242;
    background: #FFF;
    outline-color: #FFF;
    outline-style: solid;
    left: 1px;
    transition: .4s;
    font-size: 20px;
}

.infobox {
    position: sticky;
    color:#424242;
    width: 45vw;
    font-family: 'Open Sans', sans-serif;
    background-color: #ECECEC;
    text-align: center;
    bottom:5%;
    left:25%;
    opacity:0.8;
    font-size: 1.3vw;
    vertical-align: middle;
    padding-left:25px;
    padding-right: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
